.blog-article {
  width: 750px;
  margin: auto;
  color: #333;
}
.blog-article h1,
.blog-article h2,
.blog-article h3,
.blog-article h4,
.blog-article h5,
.blog-article h6 {
  color: #444;
  font-weight: 700;
}
@media (max-width: 767px) {
  .blog-article {
    width: 100%;
  }
}
