body {
  background: #eee;
}
.head .logo-wrap {
  float: left;
  height: 60px;
  padding: 10px;
}
.head .logo {
  height: 40px;
  line-height: 40px;
  font-size: 28px;
  color: #81a52f;
  font-family: RaleWay, sans-serif;
}
.head .navbar {
  color: #333;
}
.head .navbar li {
  margin: 0 20px;
}
.head .navbar li a {
  font-size: 18px;
}
.head .navbar li a:hover {
  color: #81a52f;
}
.blog-category {
  height: 40px;
  text-align: center;
}
.blog-category a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  margin: 0 20px;
  color: #555;
}
.blog-category a:hover {
  color: #492a78;
}
.blog-category a.curr {
  color: #2e0768;
}
.sec-blog-left {
  padding: 0;
}
.sec-blog-right {
  padding: 0;
}
.sec-blog-right .blog-group {
  float: right;
  width: 99%;
}
.blog-item-wrap {
  padding: 0 4px 10px;
}
.blog-group {
  width: 100%;
  border: #ccc solid 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  margin: 0 0 20px;
}
.blog-group_head {
  padding: 8px 0 4px;
  border-bottom: #ccc solid 1px;
  background: #f6f6f6;
}
.blog-group_title {
  position: relative;
  text-align: center;
  margin: 0;
  color: #333;
  font-size: 32px;
  height: 40px;
  line-height: 40px;
}
.blog-group_title-divider {
  height: 4px;
  width: 32px;
  background: #7f48cf;
  margin: auto;
}
.blog-group_title-desc {
  margin: 10px 0 0;
  text-align: center;
  color: #555;
  font-size: 14px;
}
.blog-group_main {
  padding: 20px 0 0;
}
.sec-banner {
  color: #333;
  text-align: center;
}
.sec-banner .banner-title {
  margin: 180px 0 0;
  font-size: 54px;
  height: 80px;
  line-height: 80px;
}
.sec-banner .banner-desc {
  margin: 0;
}
.sec-banner .searchbar {
  margin: 40px auto 40px;
}
.sec-overview {
  padding: 0;
}
.sec-recommend {
  padding: 0;
}
.sec-latest .blog-item-hz {
  margin-bottom: 16px;
}
