.sec-recommend {
  margin: 5px 0 0 0;
  background: #fafafa;
}
.sec-category {
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 -3px 3px #ccc;
  -moz-box-shadow: 0 -3px 3px #ccc;
  box-shadow: 0 -3px 3px #ccc;
}
.blog-item-list {
  width: 540px;
  margin: auto;
}
