h1.page-header Dashboard
.row.placeholders
  .col-xs-6.col-sm-3.placeholder
    span hhh
  .col-xs-6.col-sm-3.placeholder
    span hhh
  .col-xs-6.col-sm-3.placeholder
    span hhh
  .col-xs-6.col-sm-3.placeholder
    span hhh

h2.sub-header Section title
.table-responsive
  table.table.table-striped
    thead
      tr
        th #
        th Header
        th Header
        th Header
        th Header
    tbody
      tr
        td 1001
        td jdie
        td eijaj
        td jdeji
        td oejaei
      tr
        td 1001
        td jdie
        td eijaj
        td jdeji
        td oejaei
      tr
        td 1001
        td jdie
        td eijaj
        td jdeji
        td oejaei
      tr
        td 1001
        td jdie
        td eijaj
        td jdeji
        td oejaei
      tr
        td 1001
        td jdie
        td eijaj
        td jdeji
        td oejaei