h1 草稿箱
table.table.table-striped
  thead
    th 标题
    th 最后修改时间
    th 分类
  tbody
    each draft in draftArr
      tr
        td
          a(href="/admin/drafts/#{draft.uri}")= draft.title
        td= draft.time
        td= draft.type