ul.nav.nav-sidebar
  li.active
    a(href="#") 概况
  li
    a(href="/admin/editor/") 写博客
  li
    a(href="/admin/drafts/") 草稿箱
  li
    a(href="/admin/blogs/") 已发表
  li
    a(href="/admin/recommended/") 推荐
ul.nav.nav-sidebar
  li
    a(href="#") Overview
  li
    a(href="#") Reports
  li
    a(href="#") Analytics
  li
    a(href="#") Export
ul.nav.nav-sidebar
  li
    a(href="#") Overview
  li
    a(href="#") Reports
  li
    a(href="#") Analytics
  li
    a(href="#") Export