doctype html
head
  title blog
  meta(charset="utf-8")
  link(rel="stylesheet" type="text/css" href="css/base.css")
  link(rel="stylesheet" type="text/css" href="css/common.css")
  link(rel="stylesheet" type="text/css" href="css/blog.css")
body
header.head.clearfix
  .container
    .row
      .l-4
        .logo-wrap
          a.logo VORAMELON
      .l-6.l-offset-2
        nav.nav
          ul.navbar
            li
              a 首页
            li
              a 博客
            li
              a 游戏
            li
              a 图
            li
              a 其他
section.sec-banner.clearfix
  h1.banner-title 博客
  p.banner-desc 描述描述描述即大家诶简单记得叫几描述描述描述即大家诶简单记得叫几
  .searchbar-wrap
    form.searchbar
      input.searchbar_input(type="text" placeholder="你的关键词很重要")
      input.searchbar_btn(type="submit" value="查找")
section.sec-blog.clearfix
  nav
    .container
      .blog-category
        a(href="#").curr 全部
        a(href="#") 电影
        a(href="#") 前端
        a(href="#") 数学
        a(href="#") 游戏
        a(href="#") 音乐
  section.sec-overview.clearfix
    header.sec-head
      h2.sec-head_title 推荐
      .sec-head_divider
      p.sec-head_desc 描述描述描述即大家诶简单记得叫几决定将阿胶的
    .container
      main.blog-group_main.row
      .l-12
        a.blog-item-featured
          .blog-item-featured_cover
          .blog-item-img(style="background-image:url('images/at-the-doorstep-to-the-world-2-1141359-639x423.jpg');")
          .blog-item-featured_text
            h4.blog-item-featured_title 这是标题几哦的极大激发
            .blog-item-info
              .blog-item-info_like 58
              .blog-item-info_star 2
              .blog-item-info_comment 17
      .l-8.row.p0
        .l-12.row
          .l-12.p0.pb2
            a.blog-item-vt-large
              .blog-item-vt_img-wrap
                .blog-item-img(style="background-image:url('images/at-the-doorstep-to-the-world-2-1141359-639x423.jpg');")
              .blog-item-vt_text
                .blog-item-category 电影影评
                h4.blog-item-title 文章标题文章标题
                .blog-item-desc 描述啊基督教大街哦诶阿胶得哦啊叫极度诶将诶德基家居服金蝶节哀撇脚将诶大家大家诶旧爱间谍啊叫哦的描述啊基督教大街哦诶阿胶得哦啊叫极度诶将诶德基家居服金蝶节哀撇脚将诶大家大家诶旧爱间谍啊叫哦的
                .blog-item-vt_info
                  .blog-item-vt_time 2016-10-10
                  .blog-item-vt_author 峰回路转
                  .blog-item-vt_like 58
                  .blog-item-vt_comment 17
          .l-6.p0.pr1
            a.blog-item-vt
              .blog-item-vt_cover
                .blog-item-vt_cover-text 进入
                .blog-item-info
                  .blog-item-info_like 58
                  .blog-item-info_star 2
                  .blog-item-info_comment 17
              .blog-item-vt_img-wrap
                .blog-item-img(style="background-image:url('images/capturing-the-sun-1630684-639x426.jpg');")
              .blog-item-vt_text
                .blog-item-category 电影影评
                h4.blog-item-title 文章标题文章标题
                .blog-item-vt_info
                  .blog-item-vt_time 2016-10-10
                  .blog-item-vt_author 峰回路转
                  .blog-item-vt_like 58
                  .blog-item-vt_comment 17
          .l-6.p0.pl1
            a.blog-item-vt
              .blog-item-vt_cover
                .blog-item-vt_cover-text 进入
                .blog-item-info
                  .blog-item-info_like 58
                  .blog-item-info_star 2
                  .blog-item-info_comment 17
              .blog-item-vt_img-wrap
                .blog-item-img(style="background-image:url('images/seastar-1630263-640x360.jpg');")
              .blog-item-vt_text
                .blog-item-category 电影影评
                h4.blog-item-title 文章标题文章标题
                .blog-item-vt_info
                  .blog-item-vt_time 2016-10-10
                  .blog-item-vt_author 峰回路转
                  .blog-item-vt_like 58
                  .blog-item-vt_comment 17

      .l-4
        .blog-data(style="background-image:url('images/poi_3-1024x682.jpg');")
          .blog-data_item
            span.fll 博客
            span.blog-data_blog-cnt 228
            span.flr 篇
          .blog-data_item
            span.fll 作者
            span.blog-data_author-cnt 2
            span.flr 个
          .blog-data_item
            span.fll 收到
            span.blog-data_like-cnt 50
            span.flr 赞
        .blog-data(style="background-image:url('images/poi_4-1024x768.jpg');")
          .blog-data_item
            span.fll 博客
            span.blog-data_blog-cnt 228
            span.flr 篇
          .blog-data_item
            span.fll 作者
            span.blog-data_author-cnt 2
            span.flr 个
          .blog-data_item
            span.fll 收到
            span.blog-data_like-cnt 50
            span.flr 赞
        //.blog-item-wrap
        //  a.blog-item-hz
        //    .blog-item-hz_img-wrap
        //      .blog-item-img(style="background-image:url('images/colored-pencils-forming-a-spiral-1631358-638x426.jpg');")
        //    .blog-item-hz_text
        //      .blog-item-category 前端开发
        //      h4.blog-item-title 主题主题主题主题
        //      .blog-item-hz_info
        //        .blog-item-vt_time 2016-10-10
        //        .blog-item-vt_author 峰回路转
        //        .blog-item-vt_like 58
        //        .blog-item-vt_comment 17
        //.blog-item-wrap
        //  a.blog-item-hz
        //    .blog-item-hz_img-wrap
        //      .blog-item-img(style="background-image:url('images/animales-acuaticos-1633555-640x360.jpg');")
        //    .blog-item-hz_text
        //      .blog-item-category 前端开发
        //      h4.blog-item-title 主题主题主题主题
        //      .blog-item-hz_info
        //        .blog-item-vt_time 2016-10-10
        //        .blog-item-vt_author 峰回路转
        //        .blog-item-vt_like 58
        //        .blog-item-vt_comment 17
        //.blog-item-wrap
        //  a.blog-item-hz
        //    .blog-item-hz_img-wrap
        //      .blog-item-img(style="background-image:url('images/seastar-1630263-640x360.jpg');")
        //    .blog-item-hz_text
        //      .blog-item-category 前端开发
        //      h4.blog-item-title 主题主题主题主题
        //      .blog-item-hz_info
        //        .blog-item-vt_time 2016-10-10
        //        .blog-item-vt_author 峰回路转
        //        .blog-item-vt_like 58
        //        .blog-item-vt_comment 17
        //.blog-item-wrap
        //  a.blog-item-hz
        //    .blog-item-hz_img-wrap
        //      .blog-item-img(style="background-image:url('images/philadelphia-at-night-1635022-639x426.jpg');")
        //    .blog-item-hz_text
        //      .blog-item-category 前端开发
        //      h4.blog-item-title 主题主题主题主题
        //      .blog-item-hz_info
        //        .blog-item-vt_time 2016-10-10
        //        .blog-item-vt_author 峰回路转
        //        .blog-item-vt_like 58
        //        .blog-item-vt_comment 17
        //.l-12.blog-item-wrap
        //  .blog-item-large
        //    img.blog-item_img(src="images/colored-pencils-forming-a-spiral-1631358-638x426.jpg" alt)
        //    .blog-item_cover
        //      h4.blog-item-title 主题主题主题主题
        //      .blog-item-info
        //        .blog-item-info_like 58
        //        .blog-item-info_star 2
        //        .blog-item-info_comment 17
        //.l-12.blog-item-wrap
        //  .blog-item-large
        //    img.blog-item_img(src="images/business-finance-money-1632103-639x459.jpg" alt)
        //    .blog-item_cover
        //      h4.blog-item-title 主题主题主题主题
        //      .blog-item-info
        //        .blog-item-info_like 58
        //        .blog-item-info_star 2
        //        .blog-item-info_comment 17
        //.l-12.blog-item-wrap
        //  .blog-item-large
        //    img.blog-item_img(src="images/calculator-close-up-1630074-639x469.jpg" alt)
        //    .blog-item_cover
        //      h4.blog-item-title 主题主题主题主题
        //      .blog-item-info
        //        .blog-item-info_like 58
        //        .blog-item-info_star 2
        //        .blog-item-info_comment 17
  section.sec-recommend.clearfix
    header.sec-head.cw
      h2.sec-head_title 推荐
      .sec-head_divider
      p.sec-head_desc 描述描述描述即大家诶简单记得叫几决定将阿胶的
    .container
      main.row
        .l-3.blog-item-wrap
          a.blog-item
            .blog-item_img-wrap
              .blog-item-img(style="background-image:url('images/colored-pencils-forming-a-spiral-1631358-638x426.jpg');")
            .blog-item_cover
              h4.blog-item-title 主题主题主题主题
              .blog-item-info
                .blog-item-info_like 58
                .blog-item-info_star 2
                .blog-item-info_comment 17
        .l-3.blog-item-wrap
          a.blog-item
            .blog-item_img-wrap
              .blog-item-img(style="background-image:url('images/business-finance-money-1632103-639x459.jpg');")
            .blog-item_cover
              h4.blog-item-title 主题主题主题主题
              .blog-item-info
                .blog-item-info_like 58
                .blog-item-info_star 2
                .blog-item-info_comment 17
        .l-3.blog-item-wrap
          a.blog-item
            .blog-item_img-wrap
              .blog-item-img(style="background-image:url('images/calculator-close-up-1630074-639x469.jpg');")
            .blog-item_cover
              h4.blog-item-title 主题主题主题主题
              .blog-item-info
                .blog-item-info_like 58
                .blog-item-info_star 2
                .blog-item-info_comment 17
        .l-3.blog-item-wrap
          a.blog-item
            .blog-item_img-wrap
              .blog-item-img(style="background-image:url('images/painted-wall-of-timber-in-sunlight-1631474-639x426.jpg');")
            .blog-item_cover
              h4.blog-item-title 主题主题主题主题
              .blog-item-info
                .blog-item-info_like 58
                .blog-item-info_star 2
                .blog-item-info_comment 17
  section.sec-latest.clearfix
    header.sec-head
      h2.sec-head_title 最新
      .sec-head_divider
      p.sec-head_desc 描述描述描述即大家诶简单记得叫几决定将阿胶的
    .container
      .row
        .l-10.blog-item-wrap.l-offset-1
          .blog-item-hz-large
            .blog-item-hz_img-wrap
              .blog-item-img(style="background-image:url('images/colored-pencils-forming-a-spiral-1631358-638x426.jpg');")
            .blog-item-hz_text
              .blog-item-category 前端开发
              h4.blog-item-title 主题主题主题主题
              p.blog-item-desc 描述啊基督教大街哦诶阿胶得哦啊叫极度诶将诶德基家居服金蝶节哀撇脚将诶大家大家诶旧爱间谍啊叫哦的描述啊基督教大街哦诶阿胶得哦啊叫极度诶将诶德基家居服金蝶节哀撇脚将诶大家大家诶旧爱间谍啊叫哦的
              a.btn(href="#") 更多
        .l-10.blog-item-wrap.l-offset-1
          .blog-item-hz-large.rv
            .blog-item-hz_img-wrap
              .blog-item-img(style="background-image:url('images/philadelphia-at-night-1635022-639x426.jpg');")
            .blog-item-hz_text
              .blog-item-category 前端开发
              h4.blog-item-title 主题主题主题主题
              p.blog-item-desc 描述啊基督教大街哦诶阿胶得哦啊叫极度诶将诶德基家居服金蝶节哀撇脚将诶大家大家诶旧爱间谍啊叫哦的描述啊基督教大街哦诶阿胶得哦啊叫极度诶将诶德基家居服金蝶节哀撇脚将诶大家大家诶旧爱间谍啊叫哦的
              a.btn(href="#") 查看更多
        .l-10.blog-item-wrap.l-offset-1
          .blog-item-hz-large
            .blog-item-hz_img-wrap
              .blog-item-img(style="background-image:url('images/this-way-to-the-fish-1631548-640x480.jpg');")
            .blog-item-hz_text
              .blog-item-category 前端开发
              h4.blog-item-title 主题主题主题主题
              p.blog-item-desc 描述啊基督教大街哦诶阿胶得哦啊叫极度诶将诶德基家居服金蝶节哀撇脚将诶大家大家诶旧爱间谍啊叫哦的描述啊基督教大街哦诶阿胶得哦啊叫极度诶将诶德基家居服金蝶节哀撇脚将诶大家大家诶旧爱间谍啊叫哦的
              a.btn(href="#") 更多
  section.sec-join.clearfix
    .container.tc
      p 系带和服你还富含啊回复恶化就诶脚啊都简单旧爱都解放豪华房锕锕锕个人感染的锕
      p 接机哦金额地解决俄方哦就哦得到就爱东阿胶
      a.btn(href="#") 加入我们
  section.sec-bloglist.clearfix
    header.sec-head
      h2.sec-head_title 全部
      .sec-head_divider
      p.sec-head_desc 描述描述描述即大家诶简单记得叫几决定将阿胶的
    .container
      .row
        .l-4.blog-item-wrap
          a.blog-item-vt
            .blog-item-vt_cover
              .blog-item-vt_cover-text 进入
              .blog-item-info
                .blog-item-info_like 58
                .blog-item-info_star 2
                .blog-item-info_comment 17
            .blog-item-vt_img-wrap
              .blog-item-img(style="background-image:url('images/at-the-doorstep-to-the-world-2-1141359-639x423.jpg');")
            .blog-item-vt_text
              .blog-item-category 电影影评
              h4.blog-item-title 文章标题文章标题
              .blog-item-vt_info
                .blog-item-vt_time 2016-10-10
                .blog-item-vt_author 峰回路转
                .blog-item-vt_like 58
                .blog-item-vt_comment 17
        .l-4.blog-item-wrap
          a.blog-item-vt
            .blog-item-vt_cover
              .blog-item-vt_cover-text 进入
              .blog-item-info
                .blog-item-info_like 58
                .blog-item-info_star 2
                .blog-item-info_comment 17
            .blog-item-vt_img-wrap
              .blog-item-img(style="background-image:url('images/capturing-the-sun-1630684-639x426.jpg');")
            .blog-item-vt_text
              .blog-item-category 电影影评
              h4.blog-item-title 文章标题文章标题
              .blog-item-vt_info
                .blog-item-vt_time 2016-10-10
                .blog-item-vt_author 峰回路转
                .blog-item-vt_like 58
                .blog-item-vt_comment 17
        .l-4.blog-item-wrap
          a.blog-item-vt
            .blog-item-vt_cover
              .blog-item-vt_cover-text 进入
              .blog-item-info
                .blog-item-info_like 58
                .blog-item-info_star 2
                .blog-item-info_comment 17
            .blog-item-vt_img-wrap
              .blog-item-img(style="background-image:url('images/clock-face-1631303-639x426.jpg');")
            .blog-item-vt_text
              .blog-item-category 电影影评
              h4.blog-item-title 文章标题文章标题
              .blog-item-vt_info
                .blog-item-vt_time 2016-10-10
                .blog-item-vt_author 峰回路转
                .blog-item-vt_like 58
                .blog-item-vt_comment 17
        .l-4.blog-item-wrap
          a.blog-item-vt
            .blog-item-vt_cover
              .blog-item-vt_cover-text 进入
              .blog-item-info
                .blog-item-info_like 58
                .blog-item-info_star 2
                .blog-item-info_comment 17
            .blog-item-vt_img-wrap
              .blog-item-img(style="background-image:url('images/at-the-doorstep-to-the-world-2-1141359-639x423.jpg');")
            .blog-item-vt_text
              .blog-item-category 电影影评
              h4.blog-item-title 文章标题文章标题
              .blog-item-vt_info
                .blog-item-vt_time 2016-10-10
                .blog-item-vt_author 峰回路转
                .blog-item-vt_like 58
                .blog-item-vt_comment 17
        .l-4.blog-item-wrap
          a.blog-item-vt
            .blog-item-vt_cover
              .blog-item-vt_cover-text 进入
              .blog-item-info
                .blog-item-info_like 58
                .blog-item-info_star 2
                .blog-item-info_comment 17
            .blog-item-vt_img-wrap
              .blog-item-img(style="background-image:url('images/capturing-the-sun-1630684-639x426.jpg');")
            .blog-item-vt_text
              .blog-item-category 电影影评
              h4.blog-item-title 文章标题文章标题
              .blog-item-vt_info
                .blog-item-vt_time 2016-10-10
                .blog-item-vt_author 峰回路转
                .blog-item-vt_like 58
                .blog-item-vt_comment 17
        .l-4.blog-item-wrap
          a.blog-item-vt
            .blog-item-vt_cover
              .blog-item-vt_cover-text 进入
              .blog-item-info
                .blog-item-info_like 58
                .blog-item-info_star 2
                .blog-item-info_comment 17
            .blog-item-vt_img-wrap
              .blog-item-img(style="background-image:url('images/clock-face-1631303-639x426.jpg');")
            .blog-item-vt_text
              .blog-item-category 电影影评
              h4.blog-item-title 文章标题文章标题
              .blog-item-vt_info
                .blog-item-vt_time 2016-10-10
                .blog-item-vt_author 峰回路转
                .blog-item-vt_like 58
                .blog-item-vt_comment 17
footer.foot
  p.cp-rt.tc 所有内容 ©️ 2016 保留所有权利



