doctype html
head
  title index
  meta(charset="utf-8")
  link(rel="stylesheet" type="text/css" href="css/base.css")
  link(rel="stylesheet" type="text/css" href="css/common.css")
  link(rel="stylesheet" type="text/css" href="css/index.css")
body
header.head.clearfix
  .logo-wrap
    .logo VORAMELON
  nav.nav
    ul.navbar
      li
        a BLOG
      li
        a GAME
      li
        a IMAGE
      li
        a OTHER
section.sec-banner.clearfix
  h1 VORAMELON
  p introduction introduction introduction introduction introduction
  .searchbar-wrap
    form.searchbar
      input.searchbar_input(type="text" placeholder="my placeholder")
      input.searchbar_btn(type="submit" value="SEARCH")
section.sec-overview.clearfix
  h2 hahahjji ojeo oaiejiode joieioajoi
  p dejidej jiodjeiaj jdiej la kjdeiaed jidejiaj eiojid aopqde
  .container
    .row
      .l-4.m-4.s-12.x-12
        .intro-block
          i.intro-block_icon.i-blog
          h3.intro-block_title hudue huheiuhie huhdeu
          p.intro-block_desc dehudeh hudehua huehu deij jijeid jie jiejao dejijei
      .l-4.m-4.s-12.x-12
        .intro-block
          i.intro-block_icon.i-game
          h3.intro-block_title hudue huheiuhie huhdeu
          p.intro-block_desc dehudeh hudehua huehu deij jijeid jie jiejao dejijei iojoe ded
      .l-4.m-4.s-12.x-12
        .intro-block
          i.intro-block_icon.i-image
          h3.intro-block_title hudue huheiuhie huhdeu
          p.intro-block_desc dehudeh hudehua huehu deij jijeid jie jiejao dejijei dea
section.sec-blog.clearfix
section.sec-game.clearfix
section.sec-image.clearfix
footer.foot.clearfix
  h2 VORAMELON
  .foot-contact-list
    a.icon-contact.qq
    a.icon-contact.wechat
    a.icon-contact.weibo
  nav.foot-nav
    a 链接一
    a 链接二
    a 链接
    a 链接四
    a 链接
  p.cp-rt 所有内容 ©️ 2016 保留所有权利