<!DOCTYPE html>
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
  <!--link(rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css")-->
  <link rel="stylesheet" type="text/css" href="/css/admin-dashboard.css">
  <link rel="stylesheet" type="text/css" href="/css/admin-write-blog.css">
  <link rel="stylesheet" type="text/css" href="/css/github-markdown.css">
</head>
<body>
  <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">懒瓜</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" placeholder="关键词..." class="form-control">
        </form>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">概况</a></li>
          <li><a href="/admin/write-blog">写博客</a></li>
          <li><a href="/admin/drafts">草稿箱</a></li>
          <li><a href="/admin/published">已发表</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="#">Overview</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Export</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a href="#">Overview</a></li>
          <li><a href="#">Reports</a></li>
          <li><a href="#">Analytics</a></li>
          <li><a href="#">Export</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">写博客</h1>
        <div class="row placeholders">
          <div class="col-md-6 col-xm-12">
            <h2>markdown编辑器</h2>
            <form class="form-write">
              <div class="form-group">
                <label>标题</label>
                <input type="text" name="blog-title" placeholder="文章标题" class="form-control">
              </div>
              <div class="form-group">
                <label>正文</label>
                <textarea name="blog-content" placeholder="在这里写文章..." class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label>文件名称（作为url使用）</label>
                <input type="text" name="blog-filename" placeholder="示例：my-first-blog" class="form-control">
              </div>
              <input type="submit" value="写好了" class="btn btn-block btn-primary btn-large">
            </form>
          </div>
          <div class="col-md-6 col-xm-12">
            <h2>预览</h2>
            <div class="preview">
              <div class="markdown-body"><h1>MacDown</h1>

<p>Hello there! I’m <strong>MacDown</strong>, the open source Markdown editor for OS X.</p>

<p>Let me introduce myself.</p>

<h2>Markdown and I</h2>

<p><strong>Markdown</strong> is a plain text formatting syntax created by John Gruber, aiming to provide a easy-to-read and feasible markup. The original Markdown syntax specification can be found <a href="http://daringfireball.net/projects/markdown/syntax">here</a>.</p>

<p><strong>MacDown</strong> is created as a simple-to-use editor for Markdown documents. I render your Markdown contents real-time into HTML, and display them in a preview panel.</p>

<p>I support all the original Markdown syntaxes. But I can do so much more! Various popular but non-standard syntaxes can be turned on/off from the <a href="#markdown-pane"><strong>Markdown</strong> preference pane</a>.</p>

<p>You can specify extra HTML rendering options through the <a href="#rendering-pane"><strong>Rendering</strong> preference pane</a>.</p>

<p>You can customize the editor window to you liking in the <a href="#editor-pane"><strong>Editor</strong> preferences pane</a>:</p>

<p>You can configure various application (that&#39;s me!) behaviors in the <a href="#general-pane"><strong>General</strong> preference pane</a>.</p>

<h2>The Basics</h2>

<p>Before I tell you about all the extra syntaxes and capabilities I have, I&#39;ll introduce you to the basics of standard markdown. If you already know markdown, and want to jump straight to learning about the fancier things I can do, I suggest you skip to the <a href="#markdown-pane"><strong>Markdown</strong> preference pane</a>. Lets jump right in.  </p>

<h3>Line Breaks</h3>

<p>To force a line break, put two spaces and a newline (return) at the end of the line.</p>

<ul><li><p>This two-line bullet
  won&#39;t break</p></li><li><p>This two-line bullet<br/>will break</p></li></ul>

<p>Here is the code:</p>

<p><code></code>`
  * This two-line bullet
  won&#39;t break</p>

<ul><li>This two-line bullet<br/>will break
  <code></code>`</li></ul>

<h3>Strong and Emphasize</h3>

<p><strong>Strong</strong>: <code>**Strong**</code> or <code>__Strong__</code> (Command-B)<br/><em>Emphasize</em>: <code>*Emphasize*</code> or <code>_Emphasize_</code><a href="Command-I">^emphasize</a></p>

<h3>Headers (like this one!)</h3>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>