
<table class="table table-striped">
  <thead>
    <th>标题</th>
    <th>最后修改时间</th>
    <th>分类</th>
    <th>字数</th>
  </thead>
  <tbody>
    <tr>
      <td><a>博客一巴拉巴拉</a></td>
      <td>2016/11/3 14:58</td>
      <td>日剧</td>
      <td>789</td>
    </tr>
    <tr>
      <td><a>博客二巴拉巴拉巴拉巴拉</a></td>
      <td>2016/9/12 14:58</td>
      <td>日剧</td>
      <td>789</td>
    </tr>
    <tr>
      <td><a>博客三哈哈</a></td>
      <td>2016/11/30 14:58</td>
      <td>日剧</td>
      <td>789</td>
    </tr>
    <tr>
      <td><a>博客四爸爸爸爸爸爸啦啦啦啦啦爸爸爸爸爸爸</a></td>
      <td>2016/11/23 14:58</td>
      <td>日剧</td>
      <td>789</td>
    </tr>
  </tbody>
</table>