
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Dashboard</h1>
  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder"><span>hhh</span></div>
    <div class="col-xs-6 col-sm-3 placeholder"><span>hhh</span></div>
    <div class="col-xs-6 col-sm-3 placeholder"><span>hhh</span></div>
    <div class="col-xs-6 col-sm-3 placeholder"><span>hhh</span></div>
  </div>
  <h2 class="sub-header">Section title</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
          <th>Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1001</td>
          <td>jdie</td>
          <td>eijaj</td>
          <td>jdeji</td>
          <td>oejaei</td>
        </tr>
        <tr>
          <td>1001</td>
          <td>jdie</td>
          <td>eijaj</td>
          <td>jdeji</td>
          <td>oejaei</td>
        </tr>
        <tr>
          <td>1001</td>
          <td>jdie</td>
          <td>eijaj</td>
          <td>jdeji</td>
          <td>oejaei</td>
        </tr>
        <tr>
          <td>1001</td>
          <td>jdie</td>
          <td>eijaj</td>
          <td>jdeji</td>
          <td>oejaei</td>
        </tr>
        <tr>
          <td>1001</td>
          <td>jdie</td>
          <td>eijaj</td>
          <td>jdeji</td>
          <td>oejaei</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>