footer.foot.clearfix.pv4
  .container
    hr
    .row
  //h2 VORAMELON
  //.foot-contact-list
  //  a.icon-contact.qq
  //  a.icon-contact.wechat
  //  a.icon-contact.weibo
  nav.foot-nav.mt3
    a 关于懒瓜
    span |
    a 联系我们
    span |
    a 周边链接
    span |
    a 帮助
    span |
    a 其他说明
  p.cp-rt 所有内容 ©️ 2016 保留所有权利
