header.head.clearfix
  .container
    .row
      .l-2.m-2.s-2.x-3
        .logo-wrap
          .logo 懒瓜
      .l-7.m-6.s-5.head-nav
        ul.navbar
          li
            a.curr 博客
          li
            a 游戏
          li
            a 图片
          li
            a 其他
      .l-2.m-3.s-3.x-6
        .searchbar-round-wrap
          form.searchbar-round
            input.searchbar-round_input(type="text" placeholder="搜索")
            submit.searchbar-round_btn
              i.searchbar-round_icon
      .l-1.m-1.s-2.pl0.head-text
        .text-wrap
          .text
            a 登陆
            span |
            a 注册
      .x-3.head-toggle
        .nav-toggle-wrap
          button.nav-toggle#nav-toggle
            i.nav-toggle_icon
        .head-toggle-detail.none#head-toggle-detail
          ul.navbar
            li
              a.curr 博客
            li
              a 游戏
            li
              a 图片
            li
              a 其他
          .text
            a 登陆
            span |
            a 注册