
<header class="head clearfix">
  <div class="container">
    <div class="row">
      <div class="l-2 m-2 s-2 x-3">
        <div class="logo-wrap">
          <div class="logo">懒瓜</div>
        </div>
      </div>
      <div class="l-7 m-6 s-5 head-nav">
        <ul class="navbar">
          <li><a class="curr">博客</a></li>
          <li><a>游戏</a></li>
          <li><a>图片</a></li>
          <li><a>其他</a></li>
        </ul>
      </div>
      <div class="l-2 m-3 s-3 x-6">
        <div class="searchbar-round-wrap">
          <form class="searchbar-round">
            <input type="text" placeholder="搜索" class="searchbar-round_input"/>
            <submit class="searchbar-round_btn"><i class="searchbar-round_icon"></i></submit>
          </form>
        </div>
      </div>
      <div class="l-1 m-1 s-2 pl0 head-text">
        <div class="text-wrap">
          <div class="text"><a>登陆</a><span>|</span><a>注册</a></div>
        </div>
      </div>
      <div class="x-3 head-toggle">
        <div class="nav-toggle-wrap">
          <button id="nav-toggle" class="nav-toggle"><i class="nav-toggle_icon"></i></button>
        </div>
        <div id="head-toggle-detail" class="head-toggle-detail none">
          <ul class="navbar">
            <li><a class="curr">博客</a></li>
            <li><a>游戏</a></li>
            <li><a>图片</a></li>
            <li><a>其他</a></li>
          </ul>
          <div class="text"><a>登陆</a><span>|</span><a>注册</a></div>
        </div>
      </div>
    </div>
  </div>
</header>