doctype html
head
  title 懒瓜
  meta(charset="utf-8")
  link(rel="stylesheet" type="text/css" href="css/base.css")
  link(rel="stylesheet" type="text/css" href="css/common.css")
  link(rel="stylesheet" type="text/css" href="css/index.css")
body
  include head.jade
  //section.banner.h600.bg-img.pr(style="background-image:url('images/image-h-20.jpg');")
  //  .bg-cover
  section.clearfix.sec-recommend.pv4
    .container
      .row
        section.banner.bg-img.pr.bdbx.h600(style="background-image:url('images/image-h-20.jpg');")
          .bg-cover.z1
          .pa.z9.w.h.left0.top0.banner-content
            .row
              .s-offset-1.s-5.x-12
                .title-wrap
                  h1.f-white.tc.f60.m0.mb4 懒瓜
                  p.banner-desc.f-white.tc 因为懒所以喜欢吃西瓜
                  p.banner-desc.f-white.tc 因为西瓜吃多了所以变成了西瓜
                  p.banner-desc.f-white.tc 因为懒所以喜欢吃西瓜
                  p.banner-desc.f-white.tc 因为西瓜吃多了所以变成了西瓜
              .s-5.x-12
                .author-wrap
                  .avatar
                    img(src="users/upload-avatars/avatar-6.jpg")
                  .author.tc.f-white.f24 L.Pll513
                  .author-desc.tc.f-white.f16.mt2 这个人很聪明 什么都没有留下
              .x-12
                .more-wrap
                  button.btn.mauto 了解更多
        each item in recommendedArr
          .l-3.m-4.s-6.x-12
            a.item-rect.bg-img(style="background-image:url(#{item.img});")
              .bg-cover
              h4.item-rect_title #{item.title}
        //.l-3.m-4.s-6.x-12
        //  a.item-rect.bg-img(style="background-image:url('images/image-h-1.jpg');")
        //    .bg-cover
        //    h4.item-rect_title 标题放假就哦家啊的来讲
        //.l-3.m-4.s-6.x-12
        //  a.item-rect.bg-img(style="background-image:url('images/image-h-2.jpg');")
        //    .bg-cover
        //    h4.item-rect_title 标题放假就哦家啊的来讲
        //.l-3.m-4.s-6.x-12
        //  a.item-rect.bg-img(style="background-image:url('images/image-h-3.jpg');")
        //    .bg-cover
        //    h4.item-rect_title 标题放假就哦家啊的来讲
        //.l-3.m-4.s-6.x-12
        //  a.item-rect.bg-img(style="background-image:url('images/image-h-4.jpg');")
        //    .bg-cover
        //    h4.item-rect_title 标题放假就哦家啊的来讲
        //.l-3.m-4.s-6.x-12
        //  a.item-rect.bg-img(style="background-image:url('images/image-h-5.jpg');")
        //    .bg-cover
        //    h4.item-rect_title 标题放假就哦家啊的来讲
        //.l-3.m-4.s-6.x-12
        //  a.item-rect.bg-img(style="background-image:url('images/image-h-6.jpg');")
        //    .bg-cover
        //    h4.item-rect_title 标题放假就哦家啊的来讲金蝶哦冬季减肥哦日妇科哦
        //.l-3.m-4.s-6.x-12
        //  a.item-rect.bg-img(style="background-image:url('images/image-h-7.jpg');")
        //    .bg-cover
        //    h4.item-rect_title 标题放假就哦家啊的来讲
        //.l-3.m-4.s-6.x-12
        //  a.item-rect.bg-img(style="background-image:url('images/image-h-8.jpg');")
        //    .bg-cover
        //    h4.item-rect_title 标题放假就哦家啊的来讲
  section#sec-category.sec-category.clearfix.pt2
    .container
      .row
        #category-tag-list.category-tag-list.mauto.clearfix
          a.category-tag 前端
          a.category-tag.curr 动漫
          a.category-tag 数学
          a.category-tag JavaScript
          a.category-tag Java
          a.category-tag HTML/CSS
          a.category-tag 数学
          a.category-tag Python
          a.category-tag 算法
          a.category-tag MongoDB
          a.category-tag MySQL
          a.category-tag 艺术
          a.category-tag 音乐
          a.category-tag 日剧
      hr.m0
  section#sec-blog.sec-blog.clearfix.pb4
    .container
      .row
        .l-offset-0.l-12.m-offset-0.m-12.s-offset-0.s-12.x-offset-0.x-12
          ul#blog-item-list.blog-item-list.mauto.clearfix
            li.list-item
              .list-item_left
                a.list-item_img-wrap
                  img.list-item_img(src="images/image-h-9.jpg")
              .list-item_right-wrap
                .list-item_right
                  p.list-item_top
                    a.list-item_author 峰回路转
                    span.list-item_time 2016-11-11
                  h4.list-item_title
                    a 标题间谍啊叫哦的叫姐夫儿科额耳朵
                  p.list-item_bottom
                    span.list-item_read 阅读 129
                    span.list-item_pipe |
                    span.list-item_comment 评论 12
                    span.list-item_pipe |
                    span.list-item_like 喜欢 66
            li.list-item
              .list-item_left
                a.list-item_img-wrap
                  img.list-item_img(src="images/image-h-10.jpg")
              .list-item_right-wrap
                .list-item_right
                  p.list-item_top
                    a.list-item_author 峰回路转
                    span.list-item_time 2016-11-11
                  h4.list-item_title
                    a 标题间谍啊叫哦的叫姐夫儿科额耳朵
                  p.list-item_bottom
                    span.list-item_read 阅读 129
                    span.list-item_pipe |
                    span.list-item_comment 评论 12
                    span.list-item_pipe |
                    span.list-item_like 喜欢 66
            li.list-item
              .list-item_left
                a.list-item_img-wrap
                  img.list-item_img(src="images/image-h-11.jpg")
              .list-item_right-wrap
                .list-item_right
                  p.list-item_top
                    a.list-item_author 峰回路转
                    span.list-item_time 2016-11-11
                  h4.list-item_title
                    a 标题间谍啊叫哦的叫姐夫儿科额耳朵
                  p.list-item_bottom
                    span.list-item_read 阅读 129
                    span.list-item_pipe |
                    span.list-item_comment 评论 12
                    span.list-item_pipe |
                    span.list-item_like 喜欢 66
            li.list-item
              .list-item_left
                a.list-item_img-wrap
                  img.list-item_img(src="images/image-h-12.jpg")
              .list-item_right-wrap
                .list-item_right
                p.list-item_top
                  a.list-item_author 峰回路转
                  span.list-item_time 2016-11-11
                h4.list-item_title
                  a 标题间谍啊叫哦的叫姐夫儿科额耳朵hhh
                p.list-item_bottom
                  span.list-item_read 阅读 129
                  span.list-item_pipe |
                  span.list-item_comment 评论 12
                  span.list-item_pipe |
                  span.list-item_like 喜欢 66
            li.list-item
              .list-item_left
                a.list-item_img-wrap
                  img.list-item_img(src="images/image-h-13.jpg")
              .list-item_right-wrap
                .list-item_right
                  p.list-item_top
                    a.list-item_author 峰回路转
                    span.list-item_time 2016-11-11
                  h4.list-item_title
                    a 标题间谍啊叫哦的叫姐夫儿科额耳朵
                  p.list-item_bottom
                    span.list-item_read 阅读 129
                    span.list-item_pipe |
                    span.list-item_comment 评论 12
                    span.list-item_pipe |
                    span.list-item_like 喜欢 66
            li.list-item
              .list-item_left
                a.list-item_img-wrap
                  img.list-item_img(src="images/image-h-14.jpg")
              .list-item_right-wrap
                .list-item_right
                  p.list-item_top
                    a.list-item_author 峰回路转
                    span.list-item_time 2016-11-11
                  h4.list-item_title
                    a 标题间谍啊叫哦的叫姐夫儿科额耳朵
                  p.list-item_bottom
                    span.list-item_read 阅读 129
                    span.list-item_pipe |
                    span.list-item_comment 评论 12
                    span.list-item_pipe |
                    span.list-item_like 喜欢 66
            li.list-item
              .list-item_left
                a.list-item_img-wrap
                  img.list-item_img(src="images/image-h-15.jpg")
              .list-item_right-wrap
                .list-item_right
                  p.list-item_top
                    a.list-item_author 峰回路转
                    span.list-item_time 2016-11-11
                  h4.list-item_title
                    a 标题间谍啊叫哦的叫姐夫儿科额耳朵
                  p.list-item_bottom
                    span.list-item_read 阅读 129
                    span.list-item_pipe |
                    span.list-item_comment 评论 12
                    span.list-item_pipe |
                    span.list-item_like 喜欢 66
          .tc.mt4
            a.link 展开更多
        //.l-4.m-5.blog-right
        //  section.sec-latest.clearfix.flr
        //    h3.f4.f-grey-4.mt3.mb1 最新文章
        //    ul
        //      li.list-item-simple
        //        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届
        //      li.list-item-simple
        //        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届
        //      li.list-item-simple
        //        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届
        //      li.list-item-simple
        //        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届
        //      li.list-item-simple
        //        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届
        //  section.sec-reproduce.clearfix.flr
        //    h3.f4.f-grey-4.mt3.mb1 转载文章
        //    ul
        //      li.list-item-simple
        //        a 饿哦就爱哦冯家诶逛街
        //      li.list-item-simple
        //        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届
        //      li.list-item-simple
        //        a 批发价诶哦骄傲诶叫哦啊哦IE啊说减肥哦金哦碟
        //      li.list-item-simple
        //        a 诶哦骄傲诶恶法佛锕叫减肥哦阿丰富叫哦啊减肥饿哦碟机届
        //      li.list-item-simple
        //        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届


  include foot
  script(type="text/javascript" src="js/jquery-3.1.1.js")
  script(type="text/javascript" src="js/index.js")





//section.sec-banner.clearfix
//  h1 VORAMELON
//  p introduction introduction introduction introduction introduction
//  .searchbar-wrap
//    form.searchbar
//      input.searchbar_input(type="text" placeholder="my placeholder")
//      input.searchbar_btn(type="submit" value="SEARCH")
//section.sec-overview.clearfix
//  h2 hahahjji ojeo oaiejiode joieioajoi
//  p dejidej jiodjeiaj jdiej la kjdeiaed jidejiaj eiojid aopqde
//  .container
//    .row
//      .l-4.m-4.s-12.x-12
//        .intro-block
//          i.intro-block_icon.i-blog
//          h3.intro-block_title hudue huheiuhie huhdeu
//          p.intro-block_desc dehudeh hudehua huehu deij jijeid jie jiejao dejijei
//      .l-4.m-4.s-12.x-12
//        .intro-block
//          i.intro-block_icon.i-game
//          h3.intro-block_title hudue huheiuhie huhdeu
//          p.intro-block_desc dehudeh hudehua huehu deij jijeid jie jiejao dejijei iojoe ded
//      .l-4.m-4.s-12.x-12
//        .intro-block
//          i.intro-block_icon.i-image
//          h3.intro-block_title hudue huheiuhie huhdeu
//          p.intro-block_desc dehudeh hudehua huehu deij jijeid jie jiejao dejijei dea
//section.sec-blog.clearfix
//section.sec-game.clearfix
//section.sec-image.clearfix