<!DOCTYPE html>
<head>
  <title>懒瓜</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/common.css">
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
  <header class="head clearfix">
    <div class="container">
      <div class="row">
        <div class="l-2 m-2 s-2 x-3">
          <div class="logo-wrap">
            <div class="logo">懒瓜</div>
          </div>
        </div>
        <div class="l-7 m-6 s-5 head-nav">
          <ul class="navbar">
            <li><a class="curr">博客</a></li>
            <li><a>游戏</a></li>
            <li><a>图片</a></li>
            <li><a>其他</a></li>
          </ul>
        </div>
        <div class="l-2 m-3 s-3 x-6">
          <div class="searchbar-round-wrap">
            <form class="searchbar-round">
              <input type="text" placeholder="搜索" class="searchbar-round_input">
              <submit class="searchbar-round_btn"><i class="searchbar-round_icon"></i></submit>
            </form>
          </div>
        </div>
        <div class="l-1 m-1 s-2 pl0 head-text">
          <div class="text-wrap">
            <div class="text"><a>登陆</a><span>|</span><a>注册</a></div>
          </div>
        </div>
        <div class="x-3 head-toggle">
          <div class="nav-toggle-wrap">
            <button id="nav-toggle" class="nav-toggle"><i class="nav-toggle_icon"></i></button>
          </div>
          <div id="head-toggle-detail" class="head-toggle-detail none">
            <ul class="navbar">
              <li><a class="curr">博客</a></li>
              <li><a>游戏</a></li>
              <li><a>图片</a></li>
              <li><a>其他</a></li>
            </ul>
            <div class="text"><a>登陆</a><span>|</span><a>注册</a></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--section.banner.h600.bg-img.pr(style="background-image:url('images/image-h-20.jpg');")-->
  <!--  .bg-cover-->
  <section class="clearfix sec-recommend pv4">
    <div class="container">
      <div class="row">
        <section style="background-image:url('images/image-h-20.jpg');" class="banner bg-img pr bdbx h600">
          <div class="bg-cover z1"></div>
          <div class="pa z9 w h left0 top0 banner-content">
            <div class="row">
              <div class="s-offset-1 s-5 x-12">
                <div class="title-wrap">
                  <h1 class="f-white tc f60 m0 mb4">懒瓜</h1>
                  <p class="banner-desc f-white tc">因为懒所以喜欢吃西瓜</p>
                  <p class="banner-desc f-white tc">因为西瓜吃多了所以变成了西瓜</p>
                  <p class="banner-desc f-white tc">因为懒所以喜欢吃西瓜</p>
                  <p class="banner-desc f-white tc">因为西瓜吃多了所以变成了西瓜</p>
                </div>
              </div>
              <div class="s-5 x-12">
                <div class="author-wrap">
                  <div class="avatar"><img src="users/upload-avatars/avatar-6.jpg"></div>
                  <div class="author tc f-white f24">L.Pll513</div>
                  <div class="author-desc tc f-white f16 mt2">这个人很聪明 什么都没有留下</div>
                </div>
              </div>
              <div class="x-12">
                <div class="more-wrap">
                  <button class="btn mauto">了解更多</button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="l-3 m-4 s-6 x-12"><a style="background-image:url('images/image-h-1.jpg');" class="item-rect bg-img">
            <div class="bg-cover"></div>
            <h4 class="item-rect_title">标题放假就哦家啊的来讲</h4></a></div>
        <div class="l-3 m-4 s-6 x-12"><a style="background-image:url('images/image-h-2.jpg');" class="item-rect bg-img">
            <div class="bg-cover"></div>
            <h4 class="item-rect_title">标题放假就哦家啊的来讲</h4></a></div>
        <div class="l-3 m-4 s-6 x-12"><a style="background-image:url('images/image-h-3.jpg');" class="item-rect bg-img">
            <div class="bg-cover"></div>
            <h4 class="item-rect_title">标题放假就哦家啊的来讲</h4></a></div>
        <div class="l-3 m-4 s-6 x-12"><a style="background-image:url('images/image-h-4.jpg');" class="item-rect bg-img">
            <div class="bg-cover"></div>
            <h4 class="item-rect_title">标题放假就哦家啊的来讲</h4></a></div>
        <div class="l-3 m-4 s-6 x-12"><a style="background-image:url('images/image-h-5.jpg');" class="item-rect bg-img">
            <div class="bg-cover"></div>
            <h4 class="item-rect_title">标题放假就哦家啊的来讲</h4></a></div>
        <div class="l-3 m-4 s-6 x-12"><a style="background-image:url('images/image-h-6.jpg');" class="item-rect bg-img">
            <div class="bg-cover"></div>
            <h4 class="item-rect_title">标题放假就哦家啊的来讲金蝶哦冬季减肥哦日妇科哦</h4></a></div>
        <div class="l-3 m-4 s-6 x-12"><a style="background-image:url('images/image-h-7.jpg');" class="item-rect bg-img">
            <div class="bg-cover"></div>
            <h4 class="item-rect_title">标题放假就哦家啊的来讲</h4></a></div>
        <div class="l-3 m-4 s-6 x-12"><a style="background-image:url('images/image-h-8.jpg');" class="item-rect bg-img">
            <div class="bg-cover"></div>
            <h4 class="item-rect_title">标题放假就哦家啊的来讲</h4></a></div>
      </div>
    </div>
  </section>
  <section id="sec-category" class="sec-category clearfix pt2">
    <div class="container">
      <div class="row">
        <div class="category-tag-list mauto clearfix"><a class="category-tag">前端</a><a class="category-tag curr">动漫</a><a class="category-tag">数学</a><a class="category-tag">JavaScript</a><a class="category-tag">Java</a><a class="category-tag">HTML/CSS</a><a class="category-tag">数学</a><a class="category-tag">Python</a><a class="category-tag">算法</a><a class="category-tag">MongoDB</a><a class="category-tag">MySQL</a><a class="category-tag">艺术</a><a class="category-tag">音乐</a><a class="category-tag">日剧</a></div>
      </div>
      <hr class="m0">
    </div>
  </section>
  <section id="sec-blog" class="sec-blog clearfix pb4">
    <div class="container">
      <div class="row">
        <div class="l-offset-0 l-12 m-offset-0 m-12 s-offset-0 s-12 x-offset-0 x-12">
          <ul class="blog-item-list mauto clearfix">
            <li class="list-item">
              <div class="list-item_left"><a class="list-item_img-wrap"><img src="images/image-h-9.jpg" class="list-item_img"></a></div>
              <div class="list-item_right-wrap">
                <div class="list-item_right">
                  <p class="list-item_top"><a class="list-item_author">峰回路转</a><span class="list-item_time">2016-11-11</span></p>
                  <h4 class="list-item_title"><a>标题间谍啊叫哦的叫姐夫儿科额耳朵</a></h4>
                  <p class="list-item_bottom"><span class="list-item_read">阅读 129</span><span class="list-item_pipe">|</span><span class="list-item_comment">评论 12</span><span class="list-item_pipe">|</span><span class="list-item_like">喜欢 66</span></p>
                </div>
              </div>
            </li>
            <li class="list-item">
              <div class="list-item_left"><a class="list-item_img-wrap"><img src="images/image-h-10.jpg" class="list-item_img"></a></div>
              <div class="list-item_right-wrap">
                <div class="list-item_right">
                  <p class="list-item_top"><a class="list-item_author">峰回路转</a><span class="list-item_time">2016-11-11</span></p>
                  <h4 class="list-item_title"><a>标题间谍啊叫哦的叫姐夫儿科额耳朵</a></h4>
                  <p class="list-item_bottom"><span class="list-item_read">阅读 129</span><span class="list-item_pipe">|</span><span class="list-item_comment">评论 12</span><span class="list-item_pipe">|</span><span class="list-item_like">喜欢 66</span></p>
                </div>
              </div>
            </li>
            <li class="list-item">
              <div class="list-item_left"><a class="list-item_img-wrap"><img src="images/image-h-11.jpg" class="list-item_img"></a></div>
              <div class="list-item_right-wrap">
                <div class="list-item_right">
                  <p class="list-item_top"><a class="list-item_author">峰回路转</a><span class="list-item_time">2016-11-11</span></p>
                  <h4 class="list-item_title"><a>标题间谍啊叫哦的叫姐夫儿科额耳朵</a></h4>
                  <p class="list-item_bottom"><span class="list-item_read">阅读 129</span><span class="list-item_pipe">|</span><span class="list-item_comment">评论 12</span><span class="list-item_pipe">|</span><span class="list-item_like">喜欢 66</span></p>
                </div>
              </div>
            </li>
            <li class="list-item">
              <div class="list-item_left"><a class="list-item_img-wrap"><img src="images/image-h-12.jpg" class="list-item_img"></a></div>
              <div class="list-item_right-wrap">
                <div class="list-item_right"></div>
                <p class="list-item_top"><a class="list-item_author">峰回路转</a><span class="list-item_time">2016-11-11</span></p>
                <h4 class="list-item_title"><a>标题间谍啊叫哦的叫姐夫儿科额耳朵hhh</a></h4>
                <p class="list-item_bottom"><span class="list-item_read">阅读 129</span><span class="list-item_pipe">|</span><span class="list-item_comment">评论 12</span><span class="list-item_pipe">|</span><span class="list-item_like">喜欢 66</span></p>
              </div>
            </li>
            <li class="list-item">
              <div class="list-item_left"><a class="list-item_img-wrap"><img src="images/image-h-13.jpg" class="list-item_img"></a></div>
              <div class="list-item_right-wrap">
                <div class="list-item_right">
                  <p class="list-item_top"><a class="list-item_author">峰回路转</a><span class="list-item_time">2016-11-11</span></p>
                  <h4 class="list-item_title"><a>标题间谍啊叫哦的叫姐夫儿科额耳朵</a></h4>
                  <p class="list-item_bottom"><span class="list-item_read">阅读 129</span><span class="list-item_pipe">|</span><span class="list-item_comment">评论 12</span><span class="list-item_pipe">|</span><span class="list-item_like">喜欢 66</span></p>
                </div>
              </div>
            </li>
            <li class="list-item">
              <div class="list-item_left"><a class="list-item_img-wrap"><img src="images/image-h-14.jpg" class="list-item_img"></a></div>
              <div class="list-item_right-wrap">
                <div class="list-item_right">
                  <p class="list-item_top"><a class="list-item_author">峰回路转</a><span class="list-item_time">2016-11-11</span></p>
                  <h4 class="list-item_title"><a>标题间谍啊叫哦的叫姐夫儿科额耳朵</a></h4>
                  <p class="list-item_bottom"><span class="list-item_read">阅读 129</span><span class="list-item_pipe">|</span><span class="list-item_comment">评论 12</span><span class="list-item_pipe">|</span><span class="list-item_like">喜欢 66</span></p>
                </div>
              </div>
            </li>
            <li class="list-item">
              <div class="list-item_left"><a class="list-item_img-wrap"><img src="images/image-h-15.jpg" class="list-item_img"></a></div>
              <div class="list-item_right-wrap">
                <div class="list-item_right"></div>
                <p class="list-item_top"><a class="list-item_author">峰回路转</a><span class="list-item_time">2016-11-11</span></p>
                <h4 class="list-item_title"><a>标题间谍啊叫哦的叫姐夫儿科额耳朵</a></h4>
                <p class="list-item_bottom"><span class="list-item_read">阅读 129</span><span class="list-item_pipe">|</span><span class="list-item_comment">评论 12</span><span class="list-item_pipe">|</span><span class="list-item_like">喜欢 66</span></p>
              </div>
            </li>
          </ul>
          <div class="tc mt4"><a class="link">展开更多</a></div>
        </div>
        <!--.l-4.m-5.blog-right-->
        <!--  section.sec-latest.clearfix.flr-->
        <!--    h3.f4.f-grey-4.mt3.mb1 最新文章-->
        <!--    ul-->
        <!--      li.list-item-simple-->
        <!--        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届-->
        <!--      li.list-item-simple-->
        <!--        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届-->
        <!--      li.list-item-simple-->
        <!--        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届-->
        <!--      li.list-item-simple-->
        <!--        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届-->
        <!--      li.list-item-simple-->
        <!--        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届-->
        <!--  section.sec-reproduce.clearfix.flr-->
        <!--    h3.f4.f-grey-4.mt3.mb1 转载文章-->
        <!--    ul-->
        <!--      li.list-item-simple-->
        <!--        a 饿哦就爱哦冯家诶逛街-->
        <!--      li.list-item-simple-->
        <!--        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届-->
        <!--      li.list-item-simple-->
        <!--        a 批发价诶哦骄傲诶叫哦啊哦IE啊说减肥哦金哦碟-->
        <!--      li.list-item-simple-->
        <!--        a 诶哦骄傲诶恶法佛锕叫减肥哦阿丰富叫哦啊减肥饿哦碟机届-->
        <!--      li.list-item-simple-->
        <!--        a 批发价诶哦骄傲诶叫哦啊减肥饿哦碟机届-->
        
      </div>
    </div>
  </section>
  <footer class="foot clearfix pv4">
    <div class="container">
      <hr>
      <div class="row"></div>
    </div>
    <!--h2 VORAMELON-->
    <!--.foot-contact-list-->
    <!--  a.icon-contact.qq-->
    <!--  a.icon-contact.wechat-->
    <!--  a.icon-contact.weibo-->
    <nav class="foot-nav mt3"><a>关于懒瓜</a><span>|</span><a>联系我们</a><span>|</span><a>周边链接</a><span>|</span><a>帮助</a><span>|</span><a>其他说明</a></nav>
    <p class="cp-rt">所有内容 ©️ 2016 保留所有权利</p>
  </footer>
  <script type="text/javascript" src="js/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</body>
<!--section.sec-banner.clearfix-->
<!--  h1 VORAMELON-->
<!--  p introduction introduction introduction introduction introduction-->
<!--  .searchbar-wrap-->
<!--    form.searchbar-->
<!--      input.searchbar_input(type="text" placeholder="my placeholder")-->
<!--      input.searchbar_btn(type="submit" value="SEARCH")-->
<!--section.sec-overview.clearfix-->
<!--  h2 hahahjji ojeo oaiejiode joieioajoi-->
<!--  p dejidej jiodjeiaj jdiej la kjdeiaed jidejiaj eiojid aopqde-->
<!--  .container-->
<!--    .row-->
<!--      .l-4.m-4.s-12.x-12-->
<!--        .intro-block-->
<!--          i.intro-block_icon.i-blog-->
<!--          h3.intro-block_title hudue huheiuhie huhdeu-->
<!--          p.intro-block_desc dehudeh hudehua huehu deij jijeid jie jiejao dejijei-->
<!--      .l-4.m-4.s-12.x-12-->
<!--        .intro-block-->
<!--          i.intro-block_icon.i-game-->
<!--          h3.intro-block_title hudue huheiuhie huhdeu-->
<!--          p.intro-block_desc dehudeh hudehua huehu deij jijeid jie jiejao dejijei iojoe ded-->
<!--      .l-4.m-4.s-12.x-12-->
<!--        .intro-block-->
<!--          i.intro-block_icon.i-image-->
<!--          h3.intro-block_title hudue huheiuhie huhdeu-->
<!--          p.intro-block_desc dehudeh hudehua huehu deij jijeid jie jiejao dejijei dea-->
<!--section.sec-blog.clearfix-->
<!--section.sec-game.clearfix-->
<!--section.sec-image.clearfix-->